body {
    background: #000;
    margin: 0; padding: 0
}

#kWrapper {
    overflow: hidden;
}

#kContainer {
    height: 140%;
    top: -20%;
    position: relative; margin: auto;
    overflow: hidden;
}

#kContainer .ks {
    transform-origin: right top;
    width: 50%; height: 50%;
    position: absolute;
    top: 50%; left: 0;
    z-index: 10; overflow: hidden;
}

#kContainer .ksc, #kContainer .ks {
    /*Anti-aliasing for Chrome: http://stackoverflow.com/questions/5078186/webkit-transform-rotate-pixelated-images-in-chrome */
    transform-style: preserve-3d;
}

#kContainer .ksc {
    height: 100%; width: 100%;
    transform: rotate(30deg);
    position: relative;
    transform-origin: left top;
    left: 100%; top: 0;
    background-image: url(../patterns/pic2.jpg);
    background-position-x: 1300px;
    background-color: #fff;

    animation: moveBackground 750000s linear infinite; /* 8 days, 16 hours and 18 minutes */
}

@keyframes moveBackground {
    0% { background-position-y: 300px; }
    100% { background-position-y: 18750000px; }
}

/*************** Control Panel *******************/
#controls {
    position: absolute;
    right: 0; bottom: 0;
    z-index: 50; padding: 15pt 0 0;
    background: rgba(255, 255, 255, .9);
    border-radius: 5px 0 0 0; border: solid #666;
    border-width: 1px 0 0 1px;
    box-shadow:  0 0 15px rgba(0,0,0,.4);
}

#toggleControls {
    position: absolute;
    right: 0; top: 0;
    font-weight: bold;
    background: rgba(255,255,255,.5);
    padding: 0 5pt;
    border-radius: 0 0 0 4px;
    cursor: pointer; z-index: 51;
}

#toggleControls:hover {
    background: rgba(255,255,255,.9);
}