body {
    background: #000;
    margin: 0; padding: 0
}

/* common kaleidoscope styles */
.kal_main {
    overflow: hidden; width: 100%;
    height: 500px; margin: auto
}

.kal_cont {
    width: 140%; height: 140%;
    left: -20%; top: -20%;
    position: relative; margin: auto
}

.kal_cont .ks {
    transform-origin: right top;
    width: 50%; height: 50%;
    position: absolute;
    top: 50%; left: 0;
    z-index: 10; overflow: hidden;
}

.kal_cont .ksc, .kal_cont .ks {
    /*Anti-aliasing for Chrome: http://stackoverflow.com/questions/5078186/webkit-transform-rotate-pixelated-images-in-chrome */
    /*-webkit-backface-visibility: hidden;*/

    transform-style: preserve-3d;
}

.kal_cont .ksc {
    height: 100%; width: 100%;
    transform: rotate(30deg);
    position: relative;
    transform-origin: left top;
    left: 100%; top: 0;
    background-image: url(../patterns/pic2.jpg);
    background-position-x: 1300px;
}

/*************** Control Panel *******************/
#controls {
    position: absolute;
    right: 0; bottom: 0;
    z-index: 50; padding: 15px 0 0;
    background: rgba(255, 255, 255, .9);
}

#toggleControls {
    position: absolute;
    right: 0; top: 0;
    font-weight: bold;
    background: #e8e8e8;
    padding: 0 5px;
    border-radius: 0 0 0 4px;
    cursor: pointer; z-index: 51;
}